<!DOCTYPE html>
<html>
<head>
  <title>Sweet Candy Co. Management Dashboard</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barriecito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="page-wrapper">
    <div class="title-box">
      <h1>Sweet Candy Co.</h1>
    </div>
  
    <div class="section-1">
      <div class="column-1">
        <div class="form-container">
          <h2>Add Customer Account</h2>
          <form id="addCustomerForm">
            <input type="text" name="name" placeholder="Name" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="tel" name="phone" placeholder="Phone" required><br>
            <button type="submit">Add</button>
          </form>
        </div>

        <div class="fan-container">
          <h2>Turn on fan</h2>
          <label class="switch">
            <input type="checkbox" id="toggleSwitch" onchange="sendToggle(this.checked)">
            <span class="slider"></span>
          </label>
        </div>
      </div>

      <div class="fridge-container">
        <h2>Temperature and Humidity Readings</h2>
        {% for fridge in fridges %}
          <div class="single-fridge-container" id="fridge-{{ fridge.name }}">
            <h2>{{ fridge.name }}</h2>
            <div>Humidity: <span class="humidity" id="humidity-{{ fridge.name }}">{{ fridge.humidity }}</span></div>
            <canvas id="humidity-gauge-{{ fridge.name }}" width="150" height="150"></canvas>
            <div>Temperature: <span class="temperature" id="temperature-{{ fridge.name }}">{{ fridge.temperature }}</span></div>
            <canvas id="temperature-gauge-{{ fridge.name }}" width="150" height="150"></canvas>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="report-container">
      <div id="inventory-report" class="report-card">
        <h3>Generate Inventory Report</h3>

        <div>
          <label for="report-format">Format:</label>
          <select id="report-format" name="report-format">
            <option value="pdf">PDF</option>
            <option value="csv" selected>CSV</option>
          </select>
        </div>

        <div>
          <button id="generate-report">Generate report</button>
        </div>
      </div>
    </div>

    {% include 'product_management_section.html' %}
    {% include 'inventory_management_section.html' %}
  </div>

  <div id="notification" class="notification"></div>

  <script src="https://cdn.jsdelivr.net/npm/gaugeJS/dist/gauge.min.js"></script>
  <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
