<!DOCTYPE html>
<html>
<head>
  <title>Sweet Candy Co. Management Dashboard</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barriecito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="title-box">
    <h1>Sweet Candy Co.</h1>
  </div>


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="notification" id="notification">
        <button class="close-btn" onclick="closeNotification()">×</button>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
 
  <div class="section-1">
    <div class="form-container">
      <h2>Add Customer Account</h2>
      <form action="/add" method="post">
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="tel" name="phone" placeholder="Phone" required><br>
        <button type="submit">Add</button>
      </form>
    </div>

    <div class="fridge-container">
      <h2>Temperature and Humidity Readings</h2>
      {% for fridge in fridges %}
        <div class="single-fridge-container" id="fridge-{{ loop.index }}">
          <h2>{{ fridge.name }}</h2>
          <div>Humidity: <span class="humidity" id="humidity-{{ loop.index }}">{{ fridge.humidity }}</span></div>
          <meter id="humidity-meter-{{ loop.index }}" min="0" max="100" value="{{ fridge.humidity|replace('%','') }}"></meter>
          <div>Temperature: <span class="temperature" id="temperature-{{ loop.index }}">{{ fridge.temperature }}</span></div>
          <meter id="temperature-meter-{{ loop.index }}" min="-30" max="50" value="{{ fridge.temperature|replace('°C','') }}"></meter>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="fan-container">
    <h2>Turn on fan</h2>
    <label class="switch">
      <input type="checkbox" id="toggleSwitch" onchange="sendToggle(this.checked)">
      <span class="slider"></span>
    </label>
  </div>

   <div class="productManagement-container">
    <div class="productManagement-header">
      <button class="add-btn">+</button>
      <h2>Product Management</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Type</th>
          <th>Price</th>
          <th>Expiration Date</th>
          <th>Manufacturer Name</th>
          <th>UPC</th>
          <th>EPC</th>
          <th>QUANTITY</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{product.productId}}</td>
          <td>{{product.name}}</td>
          <td>{{product.type}}</td>
          <td>{{product.price}}</td>
          <td>{{product.expirationDate}}</td>
          <td>{{product.manufacturerName}}</td>
          <td>{{product.upc}}</td>
          <td>{{product.epc}}</td>
          <td>{{product.quantity}}</td>
          <td><button class="open-update-modal" data-index="{{ loop.index }}">Update</button></td>
        </tr>
        {% else %}
        <tr>
          <td colspan="6" style="text-align:center;">No bookings found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <!--* Update Modal  -->
      <div class="update-modal">
        <form method="POST" class="update-form-content" action="/update_product" >
            <div class="form-grid">
                <div class="form-field-group">
                    <label for="modal-productId">Product ID</label>
                    <input name="productId" type="text" id="modal-productId" readonly>
                </div>
                <div class="form-field-group">
                    <label for="modal-name">Product Name</label>
                    <input name="name" type="text" id="modal-name">
                </div>
                <div class="form-field-group">
                    <label for="modal-type">Product Type</label>
                    <input name="type" type="text" id="modal-type">
                </div>
                <div class="form-field-group">
                    <label for="modal-price">Product Price</label>
                    <input name="price" type="text" id="modal-price">
                </div>
                
                <div class="form-field-group">
                    <label for="modal-expirationDate">Product Exp-Date</label>
                    <input name="expirationDate" type="text" id="modal-expirationDate">
                </div>
                <div class="form-field-group">
                    <label for="modal-manufacturerName">Product Manufacturer Name</label>
                    <input name="manufacturerName" type="text" id="modal-manufacturerName">
                </div>
                <div class="form-field-group">
                    <label for="modal-upc">Product UPC</label>
                    <input name="upc" type="text" id="modal-upc">
                </div>
                <div class="form-field-group">
                    <label for="modal-epc">Product EPC</label>
                    <input name="epc" type="text" id="modal-epc">
                </div>
            </div>
            
            <div class="update-modal-buttons">
                <button type="submit" class="update-confirm-btn">Update</button>
                <button type="button" class="update-cancel-btn">Cancel</button>
            </div>
            
        </form>
      </div>
  </div>

  <!--* Add Modal  -->
   <div class="add-modal">
        <form method="POST" class="add-form-content" action="/add_product" >
            <div class="form-grid">
                <div class="form-field-group">
                    <label for="modal-productId">Product ID</label>
                    <input name="productId" type="text" placeholder="Automatically Given" disabled>
                </div>
                <div class="form-field-group">
                    <label for="modal-name">Product Name</label>
                    <input name="name" type="text">
                </div>
                <div class="form-field-group">
                    <label for="modal-type">Product Type</label>
                    <input name="type" type="text" >
                </div>
                <div class="form-field-group">
                    <label for="modal-price">Product Price</label>
                    <input name="price" type="text" >
                </div>
                
                <div class="form-field-group">
                    <label for="modal-expirationDate">Product Exp-Date</label>
                    <input name="expirationDate" type="text">
                </div>
                <div class="form-field-group">
                    <label for="modal-manufacturerName">Product Manufacturer Name</label>
                    <input name="manufacturerName" type="text">
                </div>
                <div class="form-field-group">
                    <label for="modal-upc">Product UPC</label>
                    <input name="upc" type="text">
                </div>
                <div class="form-field-group">
                    <label for="modal-epc">Product EPC</label>
                    <input name="epc" type="text">
                </div>
            </div>
            
            <div class="add-modal-buttons">
                <button type="submit" class="add-confirm-btn">Add</button>
                <button type="button" class="add-cancel-btn">Cancel</button>
            </div>
        </form>
      </div>

      <!--*-----------------------------------------------------------------------Inventory Management--------------------------------------------------------------------------  -->


    <div class="inventoryManagement-container">
    <div class="inventoryManagement-header">
      <h2>Inventory Management</h2>
    </div>
      <table>
        <thead>
          <tr>
            <th>Inventory ID</th>
            <th>Product ID </th>
            <th>Product name</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Location ID</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          {% for inventory_item in inventory %} 
          <tr>
            <td>{{inventory_item.inventoryId}}</td>
            <td>{{inventory_item.productId}}</td>
            <td>{{inventory_item.name}}</td>
            <td>{{inventory_item.price}}</td>
            <td>{{inventory_item.quantity}}</td>
            <td>{{inventory_item.locationId}}</td>
            <td>{{inventory_item.lastUpdated}}</td>
            <td><button class="open-update-modal" data-index="{{ loop.index }}">Update</button></td>
          </tr>
          {% else %}
          <tr>
            <td colspan="6" style="text-align:center;">No bookings found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


  <script>
    function closeNotification() {
      const notification = document.getElementById("notification");
      if (notification) notification.style.display = "none";
    }

    function sendToggle(state) {
      fetch('/fan', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ enabled: state })
      })
      .then(response => response.text())
      .then(data => console.log(data));
    }

    function updateFridgeData() {
      fetch('/sensor_data')
        .then(response => response.json())
        .then(data => {
          // Fridge 1
          document.getElementById('humidity-1').textContent = data.Frig1.humidity || 'N/A';
          document.getElementById('temperature-1').textContent = data.Frig1.temperature || 'N/A';
          document.getElementById('humidity-meter-1').value = parseFloat(data.Frig1.humidity) || 0;
          document.getElementById('temperature-meter-1').value = parseFloat(data.Frig1.temperature) || 0;

          // Fridge 2
          document.getElementById('humidity-2').textContent = data.Frig2.humidity || 'N/A';
          document.getElementById('temperature-2').textContent = data.Frig2.temperature || 'N/A';
          document.getElementById('humidity-meter-2').value = parseFloat(data.Frig2.humidity) || 0;
          document.getElementById('temperature-meter-2').value = parseFloat(data.Frig2.temperature) || 0;
        })
        .catch(err => console.error(err));
    }

    setInterval(updateFridgeData, 2000);


  document.querySelectorAll('.open-update-modal').forEach((btn) => {
        btn.addEventListener('click', (event) => {
            const modal = document.querySelector('.update-modal');
            

            modal.style.display = 'flex'; 
            
            setTimeout(() => {
                modal.classList.add('active'); // Add 'active' class to trigger fade-in
            }, 10); // A small delay is usually sufficient

            modal.querySelectorAll('input').forEach(input => input.value = '');

            const row = event.target.closest('tr');
            if (row) {
                modal.querySelector('input[name="productId"]').value = row.cells[0].textContent.trim();
                modal.querySelector('input[name="name"]').value = row.cells[1].textContent.trim();
                modal.querySelector('input[name="type"]').value = row.cells[2].textContent.trim();
                modal.querySelector('input[name="price"]').value = row.cells[3].textContent.trim();
                modal.querySelector('input[name="expirationDate"]').value = row.cells[4].textContent.trim();
                modal.querySelector('input[name="manufacturerName"]').value = row.cells[5].textContent.trim();
                modal.querySelector('input[name="upc"]').value = row.cells[6].textContent.trim();
                modal.querySelector('input[name="epc"]').value = row.cells[7].textContent.trim();
                modal.querySelector('input[name="quantity"]').value = row.cells[8].textContent.trim();
            }
        });
    });

    // Close modal when clicking Cancel
    document.querySelector('.update-cancel-btn').addEventListener('click', () => {
        const modal = document.querySelector('.update-modal');
        modal.classList.remove('active'); 
        modal.addEventListener('transitionend', function handler() {
            modal.style.display = 'none';
            modal.removeEventListener('transitionend', handler); 
        });
    });

    document.querySelector('.update-modal').addEventListener('click', (event) => {
        if (event.target.classList.contains('update-modal')) {
            const modal = document.querySelector('.update-modal');
            modal.classList.remove('active'); 
            modal.addEventListener('transitionend', function handler() {
                modal.style.display = 'none';
                modal.removeEventListener('transitionend', handler);
            });
        }
    });


    // Add modal animation

      // Open modal when clicking "+"
    const addModalBtn = document.querySelector('.add-btn');

    addModalBtn.addEventListener('click', () =>{
        const addModal = document.querySelector('.add-modal');

        // to reset the input fields when you open again
        addModal.querySelectorAll('input').forEach(input =>input.value = '');

        addModal.style.display= "flex";
        setTimeout(() =>{
          addModal.classList.add('active');
        },10);
    });

    // Close modal when clicking Cancel button
    const add_cancelBtn = document.querySelector('.add-cancel-btn');

    add_cancelBtn.addEventListener('click', () =>{
      const addModal = document.querySelector('.add-modal');

      addModal.classList.remove('active');
      addModal.addEventListener('transitionend', function handler() {
        addModal.style.display = "none";
        addModal.removeEventListener('transitionend',handler);
      });
    });

     // Close modal when clicking outside of the modal
    const clickOutside= document.querySelector('.add-modal');

    clickOutside.addEventListener('click', (event) =>{
      if(event.target.classList.contains('add-modal'))
      {
        const addModal = document.querySelector('.add-modal');
        addModal.classList.remove('active');
        addModal.addEventListener('transitionend', function handler() {
          addModal.style.display = "none";
          addModal.removeEventListener('transitionend',handler);
        });
      }
    });
  </script>
</body>
</html>
